<div id='logobar'>
    <%= image_tag('logo.png', class: 'logo') %> 
    <%= link_to "Facebook Sign In", user_omniauth_authorize_path(:facebook), class: 'facebook', style: " text-decoration:none" if current_page?("/") %>
</div>