<h1> Welcome to Studdy buddy, include a nice UI and two buttons for sign up and sign in </h1>
<%= link_to 'log in', new_user_session_path %><br/>
<%= link_to 'register', new_user_registration_path %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
