* {
margin: 0;
padding: 0;
}

.image {
	width : 100%;
}

#container {
	position :relative;
	font-size: 100%;
}
.signup, .signin {
cursor:pointer;
width :15%;
height:7%;
background: #EB6553;
border: 1px solid #979797;
border-radius: 5px;
/* Sign up : */
font-family: AmericanTypewriter;
font-size: 3em;
color: #000000;
}

.signup {
	position:absolute;
	top :58.5%;
	left: 30%
}

.signin {
	position:absolute;
	top : 58.5%;
	right: 30%;
}

.facebook {
position:absolute;
top: 86%;
left:40%;
cursor:pointer;
width: 22%;
height:5.5%;
background: #415E9B;
border: 1px solid #979797;
border-radius: 5px;
/* Sign in with faceboo: */
font-family: AmericanTypewriter;
font-size: 2em;
color: #FFFFFF;
}



