// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post{
	width:200px;
	border: solid 2px black;
	border-radius: 3px 3px;
	margin-top: 5px;
	padding:4px;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 800px;
}




